<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="cs-old" connectionString="8IIuOjeQf3q7WhYGxbZWm4ZUe5aJxmPhmfH1mTMVGjaRouNOY0oIlprNuGeyFHZTkEILkQW9kRnSf/IGkIB5jxt4FJRevH239YYthmDCk1myc7Ob/QR6EA2PIWuqBky/j/mRn5i192D4KIKdgcBi4N51103Kx6ZPC8CJ6MjLOpbxDHrWKht3fTSQTeKvNO/pL77+Y2H3SNdxQGAr1/nCe41wF+SJPekNKvk+1pz9GbGDAfK/f6epbP1aubf83qtWRQ6rDv0RdN523gM8I7ruyz3MOqmFaopPy1wAmkIlfdW49AtR134ZUw=="/>
	<add name="cs" connectionString="yBqJCjt1Iw3O3YtinGMQb/lFMkPVDygt8Eu6oofuUYD3FHIVMh13uZn9ORCaw06IVe8VPY5LsoVYp1HezbeszTaAPSw8vem6"/>
  </connectionStrings>
</configuration>